@model IEnumerable<eCommerse.Context.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name_category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.desc_category)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name_category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.desc_category)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_category }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_category }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_category })
        </td>
    </tr>
}

</table>
