
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<eCommerse.Context.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<h2>Product Management</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("index","Product", FormMethod.Get))
            {
                <p>
                    Product searh : @Html.TextBox("SearchString", ViewBag.CurrentlyFilter as string)
                    <input type="submit" value="Search"/>
                </p>
            }
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().productName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().descProduct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().idBrand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().idCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().priceProduct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().quantityProduct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().idRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Avatar)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.productName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descProduct)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idBrand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.priceProduct)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantityProduct)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idRating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Avatar)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("index",
    new {page, currentFilter = ViewBag.CurrentFilter}))